node_modules/
__pycache__/
*.pyc
*.db
.env
venv/
*.docx
*.doc
*.pdf
*.png
*.zip
*.bak
server.log
migrations/*.json
dist/
build/
.secrets
*.log
.next/
.next/**
admin/frontend/.next/
admin/frontend/.next/**
admin/backend/node_modules/
admin/backend/node_modules/**
admin/frontend/node_modules/
admin/frontend/node_modules/**
